<br/>
<div class="p-grid">

    <div class="p-col-12 p-ml-2">
        <h3>Book details</h3>
    </div>

    <div class="p-col-8">
        <div class="p-fluid">
            <form class="form" [formGroup]="bookForm" (ngSubmit)="submitForm()">
        
            <div class="p-field">
                <label for="firstname" class="p-ml-2 ">ISBN:</label>   hehe
                <div class="p-ml-2 ">
                    <input pInputText type="text" formControlName="isbn" >
                </div>
            </div>
            
            <div class="p-field">
                <label class="p-ml-2  ">Title:</label>
                <div class="p-ml-2 ">
                    <input pInputText type="text" formControlName="title">
                </div>
            </div>
            
            <div class="p-field">
                <label class="p-ml-2  ">Subtitle:</label>
                <div class="p-ml-2 ">
                    <input pInputText type="text" formControlName="subtitle">
                </div>
            </div>
            
            <div class="p-field">
                <label class="p-ml-2">Rating:</label>
                <div class="p-ml-2 ">
                    <input pInputText type="text" formControlName="rating">
                </div>
            </div>


            <div class="p-field"> 
                <span class="p-ml-2 " style="border: 1px;">
                    <label class="p-ml-2"><code>Local time:</code></label>
                   {{ bookForm.get("published")?.value | date:"longDate" }}, time:  {{ bookForm.get("published")?.value | date:"shortTime" }}
                </span>
                <span class="p-ml-2 ">
                    <label class="p-ml-2"><code>UTC time (english):</code></label>
                    {{ bookForm.get("published")?.value | date: "longDate":"UTC":"en_EN"}}, time:  {{ bookForm.get("published")?.value | date:"shortTime":"UTC":"en_EN" }}
                 </span>
                 <span class="p-ml-2 ">
                    <label class="p-ml-2"><code>Moscow time (russian):</code></label>
                    {{ bookForm.get("published")?.value | date: "longDate":"UTC":"ru_RU"}}, time:  {{ bookForm.get("published")?.value | date:"shortTime":"UTC":"ru_RU" }}
                </span>
            </div>

            <div class="p-field" style="width: 150px;">
                <label class="p-ml-2">Pulished date:</label>
                 <div class="p-ml-2 "> <!--a style nélkül a dropdown alol áttunt a button -->
                   <p-calendar [style]="{'position': 'auto', 'overflow': 'visible', 'z-index': '999'}" formControlName="publishedDate" dateFormat="yy-m-d"></p-calendar>
                </div>
            </div>

            <div class="p-field" style="width: 150px;">
                <label class="p-ml-2">Pulished dateTime:</label>
                 <div class="p-ml-2 "> <!--a style nélkül a dropdown alol áttunt a button -->
                   <p-calendar showTime="true" [style]="{'position': 'auto', 'overflow': 'visible', 'z-index': '999'}" formControlName="published" dateFormat="yy-m-d"></p-calendar>
                </div>
            </div>
          
            <div class="p-field">
                <button pButton type="button" class="p-button-outlined p-ml-2"  [style.max-width.px]="180"  (click)="addAuthor()">Add new Author</button>
            </div>
            
            <br/>
            <div formArrayName="authors">
                <input pInputText type="text" style="width:200px;" *ngFor="let a of authors; index as i" [formControlName]="i" class="p-ml-2 p-mb-2 ">
            </div>           
   
            <div class="p-field">
                <button pButton type="button" class="p-button-outlined p-ml-2"  [style.max-width.px]="180"  (click)="addSeller()">Add new Seller</button>
            </div>

            <div class="p-field p-ml-2">
               
                <div *ngIf="book?.sellers">
                    <!-- Fejléc -->
                    <div class="p-grid" >   <!--  nem biztos hogy a jsonban van ilyen property -->
                        <div class="p-col">
                            Name
                        </div>
                        <div class="p-col">
                            Address
                        </div>
                        <div class="p-col">
                            Quantity
                        </div>
                        <div class="p-col">
                            Age
                        </div>
                        <div class="p-col">
                            BirthYear
                        </div>
                        <div class="p-col">
                            &nbsp;
                        </div>           
                    </div>  
                </div>  
            </div>
              
            <div class="p-field p-ml-2">
               
                <div class="p-grid" formArrayName="sellers" *ngFor="let seller of sellers; let i = index;">   <!--  nem biztos hogy a jsonban van ilyen property -->
                    <div [formGroupName]="i" class="p-grid p-mb-2">
                        <div class="p-col">
                            <input pInputText id="hobby_name_{{i}}" formControlName="name" >
                        </div>
                        <div class="p-col">
                            <input pInputText formControlName="address" >
                        </div>
                        <div class="p-col">
                            <input pInputText formControlName="quantity" >
                        </div>
                        <div class="p-col">
                            <input pInputText formControlName="age" >
                        </div>
                        <div class="p-col">
                            <input pInputText formControlName="birthYear" >
                        </div>
                        <div class="p-col">
                            <button type="button" class="p-button-outlined p-ml-2" pButton [style.max-width.px]="200" (click)="deleteSeller(i)">Delete Seller</button>
                        </div>   
                        <div class="p-col">
                            <span class="invalid p-col-12" *ngIf="sellers[i]?.errors"> {{sellers[i]?.errors?.ageAndYear.message}}</span>
                        </div>  
                </div>               

            </div>  
               
            </div>
            
            <div class="p-field">
                <button pButton type="submit" class="p-mr-2"  [style.max-width.px]="180" [disabled]="bookForm.invalid" label="Submit"></button>
                <button pButton type="button" class=""  [style.max-width.px]="180" routerLink="/book/list" label="Back"></button>
            </div>


            </form>

        </div>
    </div>

</div>

